PAIRLIST_HTTP_PORT=9999
PAIRLIST_UPDATE_INTERVAL=30
PAIRLIST_MAX_PAIRS=20
PAIRLIST_BASE_CURRENCY=USDT
PAIRLIST_WS_ENABLED=true
PAIRLIST_LOG_LEVEL=INFO
PAIRLIST_STATE_FILE=/app/data/injector_nasos_state_v10.json
PAIRLIST_KUCOIN_API_BASE_URL=https://api.kucoin.com
