PAIRLIST_HTTP_PORT=9999
PAIRLIST_UPDATE_INTERVAL=30
PAIRLIST_MAX_PAIRS=20
PAIRLIST_BASE_CURRENCY=USDT
PAIRLIST_BASE_CURRENCIES=USDT
PAIRLIST_MIN_VOLUME=3000000
PAIRLIST_MIN_PRICE=0.05
PAIRLIST_MIN_SCORE=20
PAIRLIST_REVERSAL_ENTRY=0.60
PAIRLIST_MAX_DROP_1H=-0.025
PAIRLIST_BTC_RSI_MIN=42
PAIRLIST_TOP_N_VOLUME=35
PAIRLIST_MAX_VOLATILITY=0.12
PAIRLIST_WS_ENABLED=true
PAIRLIST_LOG_LEVEL=INFO
PAIRLIST_STATE_FILE=/app/data/injector_nasos_state_v10.json
PAIRLIST_KUCOIN_API_BASE_URL=https://api.kucoin.com
